# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# yourimport requests
page = requests.get(url)

# error handling
if(page.status_code==200):
    print('it works')
else:
    print('it doesnt work')
    print('status_code: ', page.status_code)

it works

#### 1. Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools or clicking in 'Inspect' on any browser. Here is an example:

![title](example_1.png)

2. Use BeautifulSoup `find_all()` to extract all the html elements that contain the developer names. Hint: pass in the `attrs` parameter to specify the class.

3. Loop through the elements found and get the text for each of them.

4. While you are at it, use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names. Hint: you may also use `.get_text()` instead of `.text` and pass in the desired parameters to do some string manipulation (check the documentation).

5. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# page.content

In [5]:
soup = BeautifulSoup(page.content)

In [6]:
# print(soup)

In [7]:
# soup.prettify()
# soup

In [8]:
# list(soup.children)

In [9]:
# [name.get_text().strip().split("\n") for name in soup.find_all('h1')]

In [10]:
# result = soup.find_all('h1',attrs={'class':'h3 lh-condensed'})
names = [name.get_text().strip().split("\n") for name in soup.find_all('h1',{"h3 lh-condensed"})]
names = [i for name in names for i in name]
names

['Jason Miller',
 'Frederic Branczyk',
 'Benjamin Eberlei',
 'James Agnew',
 'Hein Rutjes',
 'Matthew Johnson',
 'Phil Pluckthun',
 'Mariusz Nowak',
 'Mitchell Hashimoto',
 'David Wilson',
 'Javier Suárez',
 'Zach Leatherman',
 'Jeff Geerling',
 'Seth Michael Larson',
 'Josh Holtz',
 'Jeremiah Senkpiel',
 'David Catuhe',
 'Jan Karger ツ ☀',
 'Barry vd. Heuvel',
 'Aaron Abramov',
 'Nuno Maduro',
 'Jef LeCompte',
 'Xaymar',
 'Simon Baslé',
 'Gleb Bahmutov']

In [11]:
username = [ user.text.strip().split("\n") for user in soup.find_all('p',{"f4 text-normal mb-1"})]
username = [name for uname in username for name in uname]
username = ['(' + i + ')' for i in username]
username

['(developit)',
 '(brancz)',
 '(beberlei)',
 '(jamesagnew)',
 '(IjzerenHein)',
 '(mattjj)',
 '(kitten)',
 '(medikoo)',
 '(mitchellh)',
 '(daviwil)',
 '(jsuarezruiz)',
 '(zachleat)',
 '(geerlingguy)',
 '(sethmlarson)',
 '(joshdholtz)',
 '(Fishrock123)',
 '(deltakosh)',
 '(punker76)',
 '(barryvdh)',
 '(aaronabramov)',
 '(nunomaduro)',
 '(jef)',
 '(Xaymar)',
 '(simonbasle)',
 '(bahmutov)']

In [12]:
hello = zip(names,username)
# print(tuple(hello))

In [13]:
final = [x+y for x,y in hello]
final

['Jason Miller(developit)',
 'Frederic Branczyk(brancz)',
 'Benjamin Eberlei(beberlei)',
 'James Agnew(jamesagnew)',
 'Hein Rutjes(IjzerenHein)',
 'Matthew Johnson(mattjj)',
 'Phil Pluckthun(kitten)',
 'Mariusz Nowak(medikoo)',
 'Mitchell Hashimoto(mitchellh)',
 'David Wilson(daviwil)',
 'Javier Suárez(jsuarezruiz)',
 'Zach Leatherman(zachleat)',
 'Jeff Geerling(geerlingguy)',
 'Seth Michael Larson(sethmlarson)',
 'Josh Holtz(joshdholtz)',
 'Jeremiah Senkpiel(Fishrock123)',
 'David Catuhe(deltakosh)',
 'Jan Karger ツ ☀(punker76)',
 'Barry vd. Heuvel(barryvdh)',
 'Aaron Abramov(aaronabramov)',
 'Nuno Maduro(nunomaduro)',
 'Jef LeCompte(jef)',
 'Xaymar(Xaymar)',
 'Simon Baslé(simonbasle)',
 'Gleb Bahmutov(bahmutov)']

#### 1.1. Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [14]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [15]:
# your code here
# yourimport requests
page2 = requests.get(url)

# error handling
if(page2.status_code==200):
    print('it works')
else:
    print('it doesnt work')
    print('status_code: ', page2.status_code)

it works

In [16]:
soup2 = BeautifulSoup(page2.content, 'lxml') # get the content and parce it?

In [17]:
trending = soup2.find_all('h1',attrs = {'class' : "h3 lh-condensed"})
# trending

In [18]:
[name.get_text(strip = True) for name in trending]

['reillychase /hostifi-mvp',
 'KasperskyLab /TinyCheck',
 'adamian98 /pulse',
 'microsoft /playwright-python',
 'google /jax',
 'geekcomputers /Python',
 'public-apis /public-apis',
 'xmendez /wfuzz',
 'blacklanternsecurity /writehat',
 'benoitc /gunicorn',
 'techtanic /Udemy-Course-Grabber',
 'linuxmint /hypnotix',
 'willmcgugan /rich',
 'Devashi-Choudhary /Invisible-Cloak-or-Adrishya-Choga',
 'returntocorp /semgrep',
 'home-assistant /core',
 'openatx /uiautomator2',
 'elastic /detection-rules',
 'agermanidis /autosub',
 'horovod /horovod',
 'MailRuChamps /raic-2020',
 'holoviz /holoviews',
 '3b1b /manim',
 'NVIDIA-AI-IOT /trt_pose',
 'ReFirmLabs /binwalk']

#### 2. Display all the image links from Walt Disney wikipedia page.
Hint: use `.get()` to access information inside tags. Check out the documentation.

In [19]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [20]:
# your code here
page3 = requests.get(url)

In [21]:
page3.status_code

200

In [22]:
soup3 = BeautifulSoup(page3.content, 'lxml')

In [23]:
# images = soup3.find_all('a',attrs = {'class' : "image"})
images = soup3.find_all('a',{"image"})
# images

In [24]:
images = [ image.get('href') for image in images]
images

['/wiki/File:Walt_Disney_1946.JPG',
 '/wiki/File:Walt_Disney_1942_signature.svg',
 '/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '/wiki/File:Trolley_Troubles_poster.jpg',
 '/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '/wiki/File:Steamboat-willie.jpg',
 '/wiki/File:Walt_Disney_1935.jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '/wiki/File:Disney_Display_Case.JPG',
 '/wiki/File:Disney1968.jpg',
 '/wiki/File:Animation_disc.svg',
 '/wiki/File:P_vip.svg',
 '/wiki/File:Magic_Kingdom_castle.jpg',
 '/wiki/File:Video-x-generic.svg',
 '/wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 '/wiki/File:Blank_television_set.svg',
 '/wiki/File:Flag_of_the_United_States.svg']

In [25]:
images = ['https://en.wikipedia.org/'+ image for image in images]

In [26]:
images

['https://en.wikipedia.org//wiki/File:Walt_Disney_1946.JPG',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1942_signature.svg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 'https://en.wikipedia.org//wiki/File:Trolley_Troubles_poster.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 'https://en.wikipedia.org//wiki/File:Steamboat-willie.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_1935.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 'https://en.wikipedia.org//wiki/File:Disney_drawing_goofy.jpg',
 'https://en.wikipedia.org//wiki/File:DisneySchiphol1951.jpg',
 'https://en.wikipedia.org//wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_disney_portrait_right.jpg',
 'https://en.wikipedia.org//wiki/File:Walt_Disney_Grave.JPG',
 'https://en.wikipedia.org//wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://en.wikipedia.org//wiki/File:Disney_Display_Case.JPG',
 'https://en.wikipedia.org//wiki/File:Disney1968.jpg',
 'https://en.wikipedia.org//wiki/File:Animation_disc.svg',
 'https://en.wikipedia.org//wiki/File:P_vip.svg',
 'https://en.wikipedia.org//wiki/File:Magic_Kingdom_castle.jpg',
 'https://en.wikipedia.org//wiki/File:Video-x-generic.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_Los_Angeles_County,_California.svg',
 'https://en.wikipedia.org//wiki/File:Blank_television_set.svg',
 'https://en.wikipedia.org//wiki/File:Flag_of_the_United_States.svg']

#### 2.1. List all language names and number of related articles in the order they appear in wikipedia.org.

In [27]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [28]:
page4 = requests.get(url)

In [29]:
page4.status_code

200

In [30]:
#Marcello's solution

# soup4 = BeautifulSoup(page4.content, 'lxml')
# languages = soup4.find_all('a', {'link-box'})
# languages = [language.get_text().strip('\n').split('\n') for language in languages]
# languages = [y.replace(u'\xa0', u' ') for x in languages for y in x]
# languages

In [31]:
soup4 = BeautifulSoup(page4.content, 'lxml')
languages = soup4.find_all('a', {'class' : 'link-box'})
# languages = [language.get_text().strip('\n').split('\n') for language in languages]
# languages

In [32]:
languages = [language.get_text(strip = True) for language in languages]

In [33]:
languages

['English6\xa0199\xa0000+articles',
 'Español1\xa0643\xa0000+artículos',
 '日本語1\xa0240\xa0000+記事',
 'Deutsch2\xa0505\xa0000+Artikel',
 'Русский1\xa0680\xa0000+статей',
 'Français2\xa0273\xa0000+articles',
 'Italiano1\xa0655\xa0000+voci',
 '中文1\xa0160\xa0000+條目',
 'Português1\xa0048\xa0000+artigos',
 'Polski1\xa0441\xa0000+haseł']

In [34]:
languages = [x.replace('\xa0', '!') for x in languages]

In [35]:
languages

['English6!199!000+articles',
 'Español1!643!000+artículos',
 '日本語1!240!000+記事',
 'Deutsch2!505!000+Artikel',
 'Русский1!680!000+статей',
 'Français2!273!000+articles',
 'Italiano1!655!000+voci',
 '中文1!160!000+條目',
 'Português1!048!000+artigos',
 'Polski1!441!000+haseł']

#### 2.2. Display the top 10 languages by number of native speakers stored in a pandas dataframe.
Hint: After finding the correct table you want to analyse, you can use a nested **for** loop to find the elements row by row (check out the 'td' and 'tr' tags). <br>An easier way to do it is using pd.read_html(), check out documentation [here](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_html.html).

In [36]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [37]:
page5 = requests.get(url)
page5.status_code

200

In [38]:
# your code here
lang = (pd.read_html('https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'))[0]
top10 = lang.sort_values('Speakers(millions)', ascending = False).head(10)
top10

,Rank,Language,Speakers(millions),Percentageof world pop.(March 2019)[8],Language family,Branch
0,1,Mandarin Chinese,918.0,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480.0,5.994%,Indo-European,Romance
2,3,English,379.0,4.922%,Indo-European,Germanic
3,4,Portuguese,346.0,4.450%,Indo-European,Romance
4,5,Hindi (sanskritised Hindustani)[9],341.0,4.429%,Indo-European,Indo-Aryan
5,6,Bengali,228.0,2.961%,Indo-European,Indo-Aryan
6,7,Russian,154.0,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128.0,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

#### 3. Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.
Hint: If you hover over the title of the movie, you should see the director's name. Can you find where it's stored in the html?

In [39]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [40]:
page6 = requests.get(url)
page6.status_code

200

In [41]:
soup6 = BeautifulSoup(page6.content)

In [42]:
directors = soup6.find_all('td', attrs = {'class' : 'titleColumn'}) # get the class elements
# directors

In [43]:
directors = [director.find('a').get('title') for director in directors] #get the title elements
# directors

In [44]:
directors = [x.split(',') for x in directors] # split the list

In [45]:
directors = [director[0] for director in directors] #get the first elements

In [46]:
# directors

In [47]:
directors = pd.DataFrame(directors) # convert to df

In [48]:
directors.head()

                             0
0        Frank Darabont (dir.)
1  Francis Ford Coppola (dir.)
2  Francis Ford Coppola (dir.)
3     Christopher Nolan (dir.)
4          Sidney Lumet (dir.)

In [49]:
movies = (pd.read_html('https://www.imdb.com/chart/top'))[0] # get first element of the df from the scraped website

In [50]:
movies.head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Die Verurteilten (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Der Pate (1972),9.1,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Der Pate 2 (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Die zwölf Geschworenen (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [51]:
movies = movies[['Rank & Title','IMDb Rating']] # filter relevant columns

In [52]:
movies['Directors'] = directors # add diretors as a column to the df

In [53]:
movies.head()

,Rank & Title,IMDb Rating,Directors
0,1. Die Verurteilten (1994),9.2,Frank Darabont (dir.)
1,2. Der Pate (1972),9.1,Francis Ford Coppola (dir.)
2,3. Der Pate 2 (1974),9.0,Francis Ford Coppola (dir.)
3,4. The Dark Knight (2008),9.0,Christopher Nolan (dir.)
4,5. Die zwölf Geschworenen (1957),8.9,Sidney Lumet (dir.)

In [54]:
# df[['A', 'B']] = df['AB'].str.split(' ', 1, expand=True)

movies[['Title','Year']] = movies['Rank & Title'].str.split("(",expand=True,) # split columns
movies

,Rank & Title,IMDb Rating,Directors,Year
0,1. Die Verurteilten,9.2,Frank Darabont (dir.),1994)
1,2. Der Pate,9.1,Francis Ford Coppola (dir.),1972)
2,3. Der Pate 2,9.0,Francis Ford Coppola (dir.),1974)
3,4. The Dark Knight,9.0,Christopher Nolan (dir.),2008)
4,5. Die zwölf Geschworenen,8.9,Sidney Lumet (dir.),1957)
...,...,...,...,...
245,246. Schlacht um Algier,8.0,Gillo Pontecorvo (dir.),1966)
246,247. Tangerines,8.0,Zaza Urushadze (dir.),2013)
247,248. Der Zirkus,8.0,Charles Chaplin (dir.),1928)
248,249. Terminator,8.0,James Cameron (dir.),1984)
249,250. Koe no katachi,8.0,Naoko Yamada (dir.),2016)

In [55]:
# df['filename'] = df['filename'].str.rstrip('.txt')


movies['Year'] = movies['Year'].str.rstrip(')') # remove last string

In [56]:
movies.head(10) #voilá

,Rank & Title,IMDb Rating,Directors,Year
0,1. Die Verurteilten,9.2,Frank Darabont (dir.),1994
1,2. Der Pate,9.1,Francis Ford Coppola (dir.),1972
2,3. Der Pate 2,9.0,Francis Ford Coppola (dir.),1974
3,4. The Dark Knight,9.0,Christopher Nolan (dir.),2008
4,5. Die zwölf Geschworenen,8.9,Sidney Lumet (dir.),1957
5,6. Schindlers Liste,8.9,Steven Spielberg (dir.),1993
6,7. Der Herr der Ringe: Die Rückkehr des Königs,8.9,Peter Jackson (dir.),2003
7,8. Pulp Fiction,8.8,Quentin Tarantino (dir.),1994
8,9. Zwei glorreiche Halunken,8.8,Sergio Leone (dir.),1966
9,10. Der Herr der Ringe: Die Gefährten,8.8,Peter Jackson (dir.),2001

#### 3.1. Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [1]:
#This is the url you will scrape in this exercise
url = 'https://www.imdb.com/list/ls009796553/'

In [4]:
# your code here
page7 = requests.get(url) # parce content
page7.status_code

200

In [11]:
soup7 = BeautifulSoup(page7.content) #present content with BeautifulSoup 
# soup7 #call the content

In [25]:
top_movies = [x.get_text(strip = True).split('|') for x in soup7.find_all('h3', attrs = {'class': 'lister-item-header'})]
# top_movies

In [26]:
title_year = [x.split('(') for y in top_movies for x in y] #split title and year
# title_year

In [28]:
title = [y[0].split('.')[1] for y in title_year] #get the titles 
# title

In [30]:
year = [y[1][:-1] for y in title_year]
# year

In [32]:
summary = [x. get_text(strip = True) for x in soup7.find_all('p', attrs = {'class': ""})] #filtering the summaries
# summary

In [20]:
dict = {'Title': title, 'Year': year, 'Summary': summary}  #key to column name, value to column values
df = pd.DataFrame(dict) #create the dataframe 
top10 = df.head(10) #filter top 10
top10.index = np.arange(1, len(top10) + 1) #reset index
top10

,Title,Year,Summary
1,Nightmare - Mörderische Träume,1984,The monstrous spirit of a slain child murderer...
2,Zeit des Erwachens,1990,The victims of an encephalitis epidemic many y...
3,Eine Klasse für sich,1992,Two sisters join the first female professional...
4,In den Straßen der Bronx,1993,A father becomes worried when a local gangster...
5,Angels - Engel gibt es wirklich,1994,When a boy prays for a chance to have a family...
6,Die Jury,1996,"In Canton, Mississippi, a fearless young lawye..."
7,Amistad - Das Sklavenschiff,1997,"In 1839, the revolt of Mende captives aboard a..."
8,Anaconda,1997,"A ""National Geographic"" film crew is taken hos..."
9,Kein Vater von gestern,1998,"Russell, single father balances his work as a ..."
10,American History X,1998,A former neo-nazi skinhead tries to prevent hi...

## Bonus

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
# your code here

####  Display the 100 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.
***Hint:*** Here the displayed number of earthquakes per page is 20, but you can easily move to the next page by looping through the desired number of pages and adding it to the end of the url.

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/?view='

# This is how you will loop through each page:
number_of_pages = int(100/20)
each_page_urls = []

for n in range(1, number_of_pages+1):
    link = url+str(n)
    each_page_urls.append(link)
    
each_page_urls

In [ ]:
# your code here